#OS junk files
[Tt]humbs.db
*.DS_Store
**/$tf/
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.jfm
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.xml
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
$tf/
".vs/" 
".vs/" 
".vs/" 
".vs/" 
".vs/" 
/.vs/ProjectManagementSystem/FileContentIndex/2b526183-9013-4dba-bc03-a360d7fc258c.vsidx
/.vs/ProjectManagementSystem/FileContentIndex/368fca3f-d35f-40e8-a4ac-be3d7e75f911.vsidx
/.vs/ProjectManagementSystem/FileContentIndex/667cb108-15e9-4bad-8d8f-cc20c1431e62.vsidx
/.vs/ProjectManagementSystem/FileContentIndex/6cb81874-7de9-46e4-8a5e-8066f7f8ca54.vsidx
/.vs/ProjectManagementSystem/FileContentIndex/ae47ff72-5fa0-4349-9d39-369c4683475f.vsidx

/Project-Management-System/.vs

/.vs
*.dbmdl
#OS junk files
[Tt]humbs.db
*.DS_Store
**/$tf/
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.jfm
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.xml
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
$tf/
/ProjectManagementSystem/bin/Debug/net8.0/ProjectManagementSystem.dll
/.vs/ProjectManagementSystem/v17/.suo
